[Unit]
Description=HyprPanel Service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprpanel
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
