format = """
[](fg:#282828 bg:#b16286)\
$os\
$username\
[](bg:#cc241d fg:#b16286)\
$directory\
[](fg:#cc241d bg:#d79921)\
$git_branch\
$git_status\
[](fg:#d79921 bg:#458588)\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$scala\
[](fg:#458588 bg:#689d6a)\
$docker_context\
[](fg:#689d6a bg:#8ec07c)\
$time\
[ ](fg:#8ec07c)\n
"""

# Disable the blank line at the start of the prompt (so the bar is at the top)
add_newline = false

[line_break]
disabled = false

# Username configuration
[username]
show_always = true
style_user = "fg:#282828 bg:#b16286"  # Dark text color
style_root = "fg:#282828 bg:#b16286"  # Dark text color
format = '[$user ]($style)'
disabled = false

# OS configuration (if enabled)
[os]
style = "fg:#282828 bg:#b16286"  # Dark text color with pywal colors
format = '[  $os ]($style)'  # Use the Arch logo
disabled = false  # Enable the OS module

# Directory module
[directory]
style = "fg:#282828 bg:#cc241d"  # Dark text color
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

# Programming language modules
[c]
symbol = " "
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[docker_context]
symbol = " "
style = "fg:#282828 bg:#689d6a"
format = '[ $symbol $context ]($style)'

[elixir]
symbol = " "
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[elm]
symbol = " "
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[git_branch]
symbol = ""
style = "fg:#282828 bg:#d79921"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:#282828 bg:#d79921"
format = '[$all_status$ahead_behind ]($style)'

[golang]
symbol = " "
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[gradle]
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[haskell]
symbol = " "
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[java]
symbol = " "
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[julia]
symbol = " "
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[nim]
symbol = "󰆥 "
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[scala]
symbol = " "
style = "fg:#282828 bg:#458588"
format = '[ $symbol ($version) ]($style)'

[time]
disabled = false
time_format = "%R"
style = "fg:#282828 bg:#8ec07c"
format = '[ ♥ $time ]($style)'
