format = """
[](fg:#2e3440 bg:#b48ead)\
$os\
$username\
[](bg:#bf616a fg:#b48ead)\
$directory\
[](fg:#bf616a bg:#ebcb8b)\
$git_branch\
$git_status\
[](fg:#ebcb8b bg:#81a1c1)\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$scala\
[](fg:#81a1c1 bg:#88c0d0)\
$docker_context\
[](fg:#88c0d0 bg:#8fbcbb)\
$time\
[ ](fg:#8fbcbb)\n
"""

# Disable the blank line at the start of the prompt (so the bar is at the top)
add_newline = false

[line_break]
disabled = false

# Username configuration
[username]
show_always = true
style_user = "fg:#2e3440 bg:#b48ead"  # Dark text color
style_root = "fg:#2e3440 bg:#b48ead"  # Dark text color
format = '[$user ]($style)'
disabled = false

# OS configuration (if enabled)
[os]
style = "fg:#2e3440 bg:#b48ead"  # Dark text color with pywal colors
format = '[  $os ]($style)'  # Use the Arch logo
disabled = false  # Enable the OS module

# Directory module
[directory]
style = "fg:#2e3440 bg:#bf616a"  # Dark text color
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

# Programming language modules
[c]
symbol = " "
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[docker_context]
symbol = " "
style = "fg:#2e3440 bg:#88c0d0"
format = '[ $symbol $context ]($style)'

[elixir]
symbol = " "
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[elm]
symbol = " "
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[git_branch]
symbol = ""
style = "fg:#2e3440 bg:#ebcb8b"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:#2e3440 bg:#ebcb8b"
format = '[$all_status$ahead_behind ]($style)'

[golang]
symbol = " "
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[gradle]
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[haskell]
symbol = " "
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[java]
symbol = " "
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[julia]
symbol = " "
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[nim]
symbol = "󰆥 "
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[scala]
symbol = " "
style = "fg:#2e3440 bg:#81a1c1"
format = '[ $symbol ($version) ]($style)'

[time]
disabled = false
time_format = "%R"
style = "fg:#2e3440 bg:#8fbcbb"
format = '[ ♥ $time ]($style)'
