format = """
[](fg:#1a1b26 bg:#bb9af7)\
$os\
$username\
[](bg:#f7768e fg:#bb9af7)\
$directory\
[](fg:#f7768e bg:#e0af68)\
$git_branch\
$git_status\
[](fg:#e0af68 bg:#7aa2f7)\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$scala\
[](fg:#7aa2f7 bg:#7dcfff)\
$docker_context\
[](fg:#7dcfff bg:#7dcfff)\
$time\
[ ](fg:#7dcfff)\n
"""

# Disable the blank line at the start of the prompt (so the bar is at the top)
add_newline = false

[line_break]
disabled = false

# Username configuration
[username]
show_always = true
style_user = "fg:#1a1b26 bg:#bb9af7"  # Dark text color
style_root = "fg:#1a1b26 bg:#bb9af7"  # Dark text color
format = '[$user ]($style)'
disabled = false

# OS configuration (if enabled)
[os]
style = "fg:#1a1b26 bg:#bb9af7"  # Dark text color with pywal colors
format = '[  $os ]($style)'  # Use the Arch logo
disabled = false  # Enable the OS module

# Directory module
[directory]
style = "fg:#1a1b26 bg:#f7768e"  # Dark text color
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

# Programming language modules
[c]
symbol = " "
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[docker_context]
symbol = " "
style = "fg:#1a1b26 bg:#7dcfff"
format = '[ $symbol $context ]($style)'

[elixir]
symbol = " "
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[elm]
symbol = " "
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[git_branch]
symbol = ""
style = "fg:#1a1b26 bg:#e0af68"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:#1a1b26 bg:#e0af68"
format = '[$all_status$ahead_behind ]($style)'

[golang]
symbol = " "
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[gradle]
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[haskell]
symbol = " "
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[java]
symbol = " "
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[julia]
symbol = " "
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[nim]
symbol = "󰆥 "
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[scala]
symbol = " "
style = "fg:#1a1b26 bg:#7aa2f7"
format = '[ $symbol ($version) ]($style)'

[time]
disabled = false
time_format = "%R"
style = "fg:#1a1b26 bg:#7dcfff"
format = '[ ♥ $time ]($style)'
